BODY {
	font-size: 8pt; font-family: Verdana, Arial, sans-serif;
	crollbar-base-color: #92A5B6; scrollbar-arrow-color: #FFFFFF;
}

a:link { 
	color: #424A5A; 
}

a:visited { 
	color: #424A5A;
}

a:hover { 
	color: #D30A32; 
}

h1
{
	font-size: 12pt;
	color: #becfdc;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	background-image: url('../../Resources/Images/heading1_background.png');
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;	
	border-bottom: 2px solid #749AB6;
}


td.title {
	font-size: 12pt;
	color: #becfdc;
}

TD.NavigationBar {
	text-align: right;
	font-size: 10pt;
	color: #becfdc;
}

TD.NavigationBar a:link {
	color: #becfdc;
}

TD.NavigationBar a:visited {
	color: #becfdc;
}


TD.NavigationBar a:hover {
	color: #ffffff;
}


TABLE.ClassInfo TH{
	padding: 5px;
	spacing: 5px;
	font-size: 8pt; font-family: Verdana, Arial, sans-serif;
	border: solid #749AB6 1px;

}

TABLE.ClassInfo td{
	padding: 5px;
	spacing: 5px;
	font-size: 8pt; font-family: Verdana, Arial, sans-serif;
	border: solid #749AB6 1px;

}


h2
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
	border-style: solid;
	border-width: 1;
	border-left-color: #A1B2C6;
	border-right-color: #A1B2C6;
	border-top-color: #A1B2C6;
	border-bottom-color: #A1B2C6;
	background-color: #A1B2C6;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

h3 { 
	color: #4C4848; 
	font-size: 8pt; 
}


div.MemberHelp {
	margin-left:20px;
}


p.Synopsis { 
	padding:5px;
	border: solid #749AB6 1px;
	color: #749AB6;
}


SPAN.Parameter {
	color: #5888AA;
}

span.Properties { 
	font-size: 8pt; font-style: italic;
	color: #4C4848;
}


span.Type { 
	font-size: 8pt; font-style: italic;
	color: #4C4848;
}

