/*<meta />*/

body,
table
{
	background-color: lightblue;
	font-size: 9pt;
	font-family: Courier New;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
td,
dt,
dd
{
	font-size: 9pt;
	font-family: Courier New;
}

h1
{
	background-color: rgb(90%,90%,90%);
	border: solid thin;
	font-size: 13pt;
}

h2
{
	border-bottom: solid thin;
	font-size: 12pt;
}

h3
{
	font-size: 12pt;
}

h4
{
	font-size: 10pt;
}

h5
{
	font-size: 9pt;
}

p
{
	font-size: 9pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
}

li,
td,
dt,
dd
{
	
}

