/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Standard;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	max-id: 3;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 15px;
	margin-bottom: 1px;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #adadad;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #f1f1f1;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Standard
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 2px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 15px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Standard-Column-Column1
{
	
}

.TableStyle-Standard-Head-Header1
{
	
}

.TableStyle-Standard-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Standard-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Standard-Foot-Footer1
{
	
}

.TableStyle-Standard-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Standard-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Standard-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Standard-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Standard-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Standard-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Standard-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Standard-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Standard-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Body-Body1
{
	
}

.TableStyle-Standard-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Standard-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Standard-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Standard-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Standard-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Standard-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Standard-BodyG-Column1-Body1 p
{
	
}


