/* MadCap Table Style: */

/*<meta Version="9" />*/

@media PDFOutput
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #ffffff;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #ffffff;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #ffffff;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #ffffff;
	}

	mcTableColumnStyle
	{
		size: 25px;
	}

	mcTableColumnStyle
	{
		size: 400px;
	}

	mcTableColumnStyle
	{
		size: 75px;
	}

	mcTableColumnStyle
	{
		size: 325px;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: checklist;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 7;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 15px;
	margin-bottom: 1px;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column1;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column2;
	id: 0;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column4;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #adadad;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #f1f1f1;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media PDFOutput
{
	.TableStyle-checklist
	{
		border-left-style: solid;
		border-left-color: #ffffff;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-color: #ffffff;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #ffffff;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #ffffff;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-checklist-Column-Column1
	{
		width: 25px;
	}

	.TableStyle-checklist-Column-Column2
	{
		width: 400px;
	}

	.TableStyle-checklist-Column-Column3
	{
		width: 75px;
	}

	.TableStyle-checklist-Column-Column4
	{
		width: 325px;
	}
}

.TableStyle-checklist
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 15px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-checklist-Column-Column1
{
	
}

.TableStyle-checklist-Column-Column2
{
	
}

.TableStyle-checklist-Column-Column3
{
	
}

.TableStyle-checklist-Column-Column4
{
	
}

.TableStyle-checklist-Head-Header1
{
	
}

.TableStyle-checklist-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadI-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadI-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadE-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadE-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadF-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadF-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadH-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadH-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadD-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadD-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadC-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadC-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadB-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadB-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadA-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadA-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadG-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadG-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadI-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadI-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadE-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadE-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadF-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadF-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadH-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadH-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadD-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadD-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadC-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadC-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadB-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadB-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadA-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadA-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadG-Column3-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadG-Column3-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadI-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadI-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadE-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadE-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadF-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadF-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadH-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadH-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadD-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-HeadD-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadC-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadC-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadB-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadB-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadA-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadA-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-HeadG-Column4-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-checklist-HeadG-Column4-Header1 p
{
	color: #ffffff;
}

.TableStyle-checklist-Foot-Footer1
{
	
}

.TableStyle-checklist-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootI-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootE-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootF-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootH-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootD-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootC-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootB-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootA-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootG-Column1-Footer1 p
{
	
}

.TableStyle-checklist-FootI-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-FootI-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootE-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootE-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootF-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootF-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootH-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-FootH-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootD-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootD-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootC-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-FootC-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootB-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-FootB-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootA-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-FootA-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootG-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-FootG-Column2-Footer1 p
{
	
}

.TableStyle-checklist-FootI-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootI-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootE-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootE-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootF-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootF-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootH-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootH-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootD-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootD-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootC-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootC-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootB-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootB-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootA-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootA-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootG-Column3-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootG-Column3-Footer1 p
{
	
}

.TableStyle-checklist-FootI-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootI-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootE-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootE-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootF-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootF-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootH-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootH-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootD-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-checklist-FootD-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootC-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootC-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootB-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootB-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootA-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootA-Column4-Footer1 p
{
	
}

.TableStyle-checklist-FootG-Column4-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-checklist-FootG-Column4-Footer1 p
{
	
}

.TableStyle-checklist-Body-Body1
{
	
}

.TableStyle-checklist-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyI-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyE-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyF-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyH-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyD-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyC-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyB-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyA-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyG-Column1-Body1 p
{
	
}

.TableStyle-checklist-BodyI-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-checklist-BodyI-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyE-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyE-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyF-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-checklist-BodyF-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyH-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyH-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyD-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-checklist-BodyD-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyC-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-checklist-BodyC-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyB-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyB-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyA-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-checklist-BodyA-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyG-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-checklist-BodyG-Column2-Body1 p
{
	
}

.TableStyle-checklist-BodyI-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyI-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyE-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyE-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyF-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyF-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyH-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyH-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyD-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyD-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyC-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyC-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyB-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyB-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyA-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyA-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyG-Column3-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyG-Column3-Body1 p
{
	
}

.TableStyle-checklist-BodyI-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyI-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyE-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyE-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyF-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyF-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyH-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyH-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyD-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-checklist-BodyD-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyC-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyC-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyB-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyB-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyA-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyA-Column4-Body1 p
{
	
}

.TableStyle-checklist-BodyG-Column4-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #f1f1f1;
}

.TableStyle-checklist-BodyG-Column4-Body1 p
{
	
}

.TableStyle-checklist-Body-Body2
{
	
}

.TableStyle-checklist-BodyI-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyI-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyE-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyE-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyF-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyF-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyH-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyH-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyD-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyD-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyC-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyC-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyB-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyB-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyA-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyA-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyG-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyG-Column1-Body2 p
{
	
}

.TableStyle-checklist-BodyI-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyI-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyE-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyE-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyF-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyF-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyH-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyH-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyD-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyD-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyC-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyC-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyB-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-checklist-BodyB-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyA-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyA-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyG-Column2-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyG-Column2-Body2 p
{
	
}

.TableStyle-checklist-BodyI-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyI-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyE-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyE-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyF-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyF-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyH-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyH-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyD-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyD-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyC-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyC-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyB-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyB-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyA-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyA-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyG-Column3-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyG-Column3-Body2 p
{
	
}

.TableStyle-checklist-BodyI-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyI-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyE-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyE-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyF-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyF-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyH-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyH-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyD-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyD-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyC-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyC-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyB-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyB-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyA-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyA-Column4-Body2 p
{
	
}

.TableStyle-checklist-BodyG-Column4-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-checklist-BodyG-Column4-Body2 p
{
	
}


