/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Alternating;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 4;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #adadad;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #f1f1f1;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Alternating
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Alternating-Column-Column1
{
	
}

.TableStyle-Alternating-Head-Header1
{
	
}

.TableStyle-Alternating-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternating-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternating-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternating-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #adadad;
}

.TableStyle-Alternating-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternating-Foot-Footer1
{
	
}

.TableStyle-Alternating-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternating-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternating-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternating-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Alternating-Body-Body1
{
	
}

.TableStyle-Alternating-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Alternating-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Alternating-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Alternating-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Alternating-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Alternating-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Alternating-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	vertical-align: top;
}

.TableStyle-Alternating-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Alternating-Body-Body2
{
	
}

.TableStyle-Alternating-BodyI-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyE-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyF-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyH-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyD-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyC-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyB-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Alternating-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyA-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Alternating-BodyG-Column1-Body2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-Alternating-BodyG-Column1-Body2 p
{
	
}


