/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FirstColumnHeaderLabels_AlternatingRows;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 12;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	border-spacing-y: 1;
	border-spacing-x: 1;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	type: Header;
	color: #fff5ee;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	vertical-align: top;
	font-weight: bolder;
	background-color: #0e4167;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	id: 12;
	name: Header1;
	background-color: #0e4167;
	color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	text-align: left;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: Body2;
	background-color: #5598cc;
	color: #ffffff;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Body3;
	background-color: #add8e6;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-FirstColumnHeaderLabels_AlternatingRows
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	border-spacing: 1px 1px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-Column-Column1
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-Column-Column2
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-Head-Header1
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadI-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadI-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadE-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadE-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadF-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadF-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadH-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadH-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadD-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadD-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadC-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadC-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadB-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadB-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadA-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadA-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadG-Column1-Header1
{
	font-weight: bolder;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadG-Column1-Header1 p
{
	font-weight: bolder;
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadI-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadI-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadE-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadF-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadF-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadH-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadD-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadD-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadC-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadC-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadB-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadA-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadA-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadG-Column2-Header1
{
	color: #ffffff;
	text-align: left;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-HeadG-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootI-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootI-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootE-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootE-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootF-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootF-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootH-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootH-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootD-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootD-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootC-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootC-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootB-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootB-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootA-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootA-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootG-Column1-
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootG-Column1- p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootI-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootI-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootE-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootE-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootF-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootF-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootH-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootH-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootD-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootD-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootC-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootC-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootB-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootB-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootA-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootA-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootG-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-FootG-Column2- p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-Body-Body2
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column1-Body2
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column1-Body2 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column2-Body2
{
	color: #ffffff;
	background-color: #5598cc;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column2-Body2 p
{
	color: #ffffff;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-Body-Body3
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column1-Body3
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column1-Body3
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column1-Body3
{
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column1-Body3
{
	color: #fff5ee;
	font-weight: bolder;
	vertical-align: top;
	background-color: #0e4167;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column1-Body3 p
{
	color: #fff5ee;
	font-weight: bolder;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyI-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column2-Body3
{
	background-color: #add8e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyE-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column2-Body3
{
	background-color: #add8e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyF-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyH-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column2-Body3
{
	background-color: #add8e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyD-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyC-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyB-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyA-Column2-Body3 p
{
	
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column2-Body3
{
	background-color: #add8e6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-FirstColumnHeaderLabels_AlternatingRows-BodyG-Column2-Body3 p
{
	
}


