@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	text-align: Justify;
}

table
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

h1
{
	font-size: 12pt;
	color: #becfdc;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	background-image: url('../Images/heading1_background.png');
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;	
	border-bottom: 2px solid #749AB6;
}

li.h1
{
	font-size: 12pt;
	text-indent: 5;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
}

h2
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
	border-style: solid;
	border-width: 1;
	border-left-color: #A1B2C6;
	border-right-color: #A1B2C6;
	border-top-color: #A1B2C6;
	border-bottom-color: #A1B2C6;
	background-color: #A1B2C6;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

li.h2
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
}

h3
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
	border-style: solid;
	border-width: 1;
	border-left-color: #7D7D7D;
	border-right-color: #7D7D7D;
	border-top-color: #7D7D7D;
	border-bottom-color: #7D7D7D;
	background-color: #7D7D7D;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

li.h3
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
}

h4
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #7D7D7D;
	border-bottom: thin solid;
}

li.h4
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #7D7D7D;
}

p.fieldlabel
{
	font-size: 8pt;
	font-weight: bold;
	margin-top: 14pt;
}

li.p-fieldlabel
{
	font-size: 8pt;
	font-weight: bold;
}

p.fielddescription
{
	font-size: 8pt;
	margin-left: 45px;
}

li.p-fielddescription
{
	font-size: 8pt;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

a.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

table.TechNote
{
	width: 800px;
	text-align: Left;
	margin-left: 45px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	x-border-spacing: 0px;
	background-color: #d6d6d6;
	font-size: 8pt;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	font-style: italic;
}

table.TechNote tr.t1st td
{
	background-color: #808080;
	font-family: Verdana;
	font-size: 8pt;
	color: #ffffff;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	font-weight: bold;
}

table.TechNote td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.AlternateColors
{
	width: 800px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	text-align: Left;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	margin-left: 45px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
}

table.AlternateColors tr.t1st td
{
	font-family: Verdana;
	font-size: 8pt;
	text-align: "color:" #ffffff;
	background-color: #808080;
	color: #ffffff;
	font-weight: bold;
}

table.AlternateColors tr.t1Row td
{
	background-color: #d6d6d6;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	font-family: Verdana;
	font-size: 8pt;
}

table.AlternateColors tr.t2Row td
{
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

table.TechNote tr.t1Row td
{
	
}

table.TechNote tr.t2Row td
{
	background-color: #d6d6d6;
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

table.AlternateColors td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.IconsButtons tr.t1st td
{
	font-family: Verdana;
	font-size: 8pt;
	text-align: "color:" #ffffff;
	background-color: #808080;
	color: #ffffff;
	font-weight: bold;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons tr.t1Row td
{
	font-family: Verdana;
	font-size: 8pt;
	background-color: #ffffff;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons tr.t2Row td
{
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.IconsButtons
{
	width: 800px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	text-align: Left;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	margin-left: 45px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
}

h1 a:link
{
	color: #ffffff;
}

a:link
{
	color: #C00000;
}

h1 a:visited
{
	color: #ffffff;
}

a:visited
{
	color: #C00000;
}

h1 a:hover
{
	color: #A0D068;
}

a:hover
{
	color: #FF6021;
}

li.mips_list_numbered
{
	margin-left: 5px;
	margin-top: 5px;
}

rh-list.multi
{
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-margin: 20px;
	x-lvl-3-format: "<x>.";
	x-lvl-3-margin: 40px;
	x-lvl-4-format: "<x>";
	x-level-count: 9;
	x-lvl-4-type: disc;
	x-lvl-4-margin: 60px;
}

li.mips_list_bulleted
{
	margin-left: 5px;
	margin-top: 5px;
	list-style: disc;
}

tr.rn_default
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

tr.selected
{
	background-color: #4F6A85 !important;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.deselected
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

tr.critical
{
	background-color: #EF2207;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.highlightcritical
{
	background-color: #DA240C;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.dehighlightcritical
{
	background-color: #EF2207;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.highlight
{
	background-color: #7796B3;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.dehighlighted
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|dropDownHotSpot.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

MadCap|glossaryTerm.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

@media PDFOutput
{
	h4
	{
		mc-heading-level: 0;
		color: #000000;
		border-bottom: none 0;
		font-size: 12pt;
	}

	h1.Print_TOC
	{
		mc-heading-level: 0;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		border-bottom-color: #00425c;
	}

	MadCap|tocProxy
	{
		margin-top: 20px;
		padding-top: 10px;
	}

	h3
	{
		mc-heading-level: 3;
		background-color: #ffffff;
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		border-top-color: #ffffff;
		font-weight: bold;
		padding-left: 0px;
		text-indent: 0px;
		color: #0e4167;
		border-bottom-style: dotted;
		border-bottom-color: #0e4167;
		padding-top: 1px;
		padding-bottom: 0px;
		margin-bottom: 15pt;
		margin-top: 20pt;
		font-family: Verdana;
		font-size: 12pt;
	}

	h5
	{
		mc-heading-level: 0;
		font-family: Verdana;
		font-size: 10pt;
		color: #696969;
	}

	h6
	{
		mc-heading-level: 0;
	}

	p.TOC1
	{
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		font-size: 14pt;
	}

	p.TOC2
	{
		color: #5598cc;
		font-family: 'TradeGothic LT Extended';
		font-size: 12pt;
	}

	h1
	{
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		background-color: #ffffff;
		text-indent: 0px;
		padding-left: 0px;
		background-image: none;
		height: 0px;
		border: solid 1px #808080;
		border-left-width: 0px;
		border-right-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 1px;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		font-size: 30pt;
		border-bottom-color: #00425c;
	}

	h2
	{
		background-color: #ffffff;
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		border-top-color: #ffffff;
		border-bottom-color: #ffffff;
		padding-left: 0px;
		text-indent: 0px;
		color: #5598cc;
		font-family: 'TradeGothic LT Extended';
		font-size: 20pt;
		margin-bottom: -25pt;
	}

	h1.Print_Title
	{
		border-bottom-color: #ffffff;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		font-size: 30pt;
	}

	body
	{
		font-family: Verdana;
	}

	img
	{
		max-width: 100%;
	}

	p.TOC3
	{
		font-family: verdana;
		font-size: 9pt;
	}

	table
	{
		font-family: Verdana;
	}
}

h1.Print_TOC
{
	color: #9acd32;
	font-family: 'Calisto MT';
	font-size: 20pt;
	background-color: #ffffff;
	border-bottom-color: #9acd32;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
}

MadCap|tocProxy
{
	border-top-color: #ffffff;
}

h1.Print_Title
{
	border-bottom-color: #ffffff;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	text-indent: 0px;
	background-color: #ffffff;
	color: #8b3978;
	font-family: 'Calisto MT';
	font-weight: bold;
	font-size: 24pt;
	mc-heading-level: 0;
}

div.text_box_warnings
{
	width: 400px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #ff0000;
	border: solid 1px #ff0000;
	background-image: url('../Images/warnings.png');
	background-repeat: no-repeat;
	background-color: #FAEBD7;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_notes
{
	width: 400px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #616E14;
	border: solid 1px #BFD62F;
	background-image: url('../Images/notes.png');
	background-repeat: no-repeat;
	background-color: #F6FAE1;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_tips
{
	width: 400px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #C29D0A;
	border: solid 1px #FBBB1E;
	background-image: url('../Images/tips.png');
	background-repeat: no-repeat;
	background-color: #FAF6D8;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_examples
{
	width: 400px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #003366;
	border: solid 1px #BECFDC;
	background-image: url('../Images/examples.png');
	background-repeat: no-repeat;
	background-color: #DDEDFE;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.box_grey
{
	width: 400px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	margin-top: 10px;
	color: #5E5E5E;
	border: solid 1px #858585;
	background-color: #F0F0F0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

MadCap|dropDown
{
	margin-top: 8px;
	mc-closed-image: url('../Images/plus.png');
	mc-open-image: url('../Images/minus.png');
}

@media non-print
{
	img.LargeImage
	{
		border: solid #ffffff;
		mc-thumbnail: popup;
		mc-thumbnail-max-height: 120px;
	}
}
