/*<meta />*/

input.filter_small
{
	font-family: Verdana;
	color: #000000;
	font-size: 7pt;
}

table.example
{
	border: 1px solid black;
	border-collapse: collapse;
}

table.example th
{
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}

table.example td
{
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}

table.example thead th
{
	background-color: #ccccff;
}

table.example tfoot td
{
	background-color: #ffccff;
}

table.example tr.tbody_header
{
	font-weight: bold;
	text-align: center;
	background-color: #dddddd;
}

table.example a.pagelink
{
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #666666;
	margin: 0px 5px 0px 5px;
}

table.example a.currentpage
{
	background-color: yellow;
}

tr.alternate
{
	background-color: #D5E4EB;
	cursor: hand;
}

th.table-sortable
{
	cursor: pointer;
	background-image: url('../../Resources/table_sorting/sortable.gif');
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 15px;
	padding-left: 2px;
	background-color: #5A5A5A;
	font-family: Verdana;
	color: #becfdc;
	font-size: 8pt;
}

th.blueheader
{
	padding-right: 15px;
	padding-left: 5px;
	background-color: #5A5A5A;
	font-family: Verdana;
	color: #becfdc;
	font-size: 8pt;
}

th.table-sorted-asc
{
	background-image: url('../../Resources/table_sorting/sorted_up.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

th.table-sorted-desc
{
	background-image: url('../../Resources/table_sorting/sorted_down.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

th.table-filtered
{
	background-image: url('../../Resources/table_sorting/filter.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

select.table-autofilter
{
	font-size: smaller;
}

table.altstripe tr.alternate2
{
	background-color: #ccffff;
}

.iconset
{
	margin: 5px;
	border: 1px solid #cccccc;
	border-color: #cccccc #666666 #666666 #cccccc;
	text-align: center;
	cursor: pointer;
	width: 100px;
}

.iconset img
{
	margin: 3px;
}

tr.doc_section
{
	font-weight: bold;
	text-align: center;
	background-color: #dddddd;
}

