@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

img.LargeImage
{
	border: solid #ffffff;
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 120px;
}

MadCap|slideshowBullet.active
{
	background-color: #a1b2c6;
}

body
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

table
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

h1
{
	font-size: 12pt;
	color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	background-image: url('../Images/heading1_background_samplenet_glims.png');
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 4px solid #7D96A7;
}

li.h1
{
	font-size: 12pt;
	text-indent: 5;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
}

h2
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
	border-style: solid;
	border-width: 1;
	border-color: #7D96A7;
	background-color: #7D96A7;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding: 5px;
	margin-top: 15px;
}

li.h2
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
}

h3
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	color: #7D96A7;
	border-bottom-style: solid;
	border-bottom-color: #7D96A7;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 15px;
	margin-bottom: 10px;
}

li.h3
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	color: #ffffff;
	text-indent: 5;
}

h4
{
	margin-top: 20px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #7D7D7D;
	border-bottom: thin solid;
}

li.h4
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #7D7D7D;
}

p.slideshowtitle
{
	font-size: 20pt;
	color: #bdbdff;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 20px;
}

p.slideshowsubtitle
{
	font-size: 14pt;
	color: #bdbdff;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 20px;
}

p.slideshowsubtitle a:link
{
	font-size: 14pt;
	color: #bdbdff;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 20px;
	text-decoration:none;  
}

p.slideshowsubtitle a:hover
{
	font-size: 14pt;
	color: #1F1F4F;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 20px;
	text-decoration:none;  
}

p.slideshowsubtitle a:visited
{
	font-size: 14pt;
	color: #bdbdff;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 20px;
	text-decoration:none;  
}


p.fieldlabel
{
	font-size: 8pt;
	font-weight: bold;
	margin-top: 14pt;
}

li.p-fieldlabel
{
	font-size: 8pt;
	font-weight: bold;
}

p.fielddescription
{
	font-size: 8pt;
	margin-left: 45px;
}

li.p-fielddescription
{
	font-size: 8pt;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

span.ui_element
{
	font-weight: bold;
	color: #6C86A6;
}

span.ui_element href
{
	font-weight: bold;
	color: #A66C9D;
}

a.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

table.TechNote
{
	width: 800px;
	text-align: Left;
	margin-left: 45px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	x-border-spacing: 0px;
	background-color: #d6d6d6;
	font-size: 8pt;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	font-style: italic;
}

table.TechNote tr.t1st td
{
	background-color: #808080;
	font-family: Verdana;
	font-size: 8pt;
	color: #ffffff;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	font-weight: bold;
}

table.TechNote td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.AlternateColors
{
	width: 800px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	text-align: Left;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	margin-left: 45px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
}

table.AlternateColors tr.t1st td
{
	font-family: Verdana;
	font-size: 8pt;
	text-align: "color:" #ffffff;
	background-color: #808080;
	color: #ffffff;
	font-weight: bold;
}

table.AlternateColors tr.t1Row td
{
	background-color: #d6d6d6;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	font-family: Verdana;
	font-size: 8pt;
}

table.AlternateColors tr.t2Row td
{
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

table.TechNote tr.t1Row td
{
	
}

table.TechNote tr.t2Row td
{
	background-color: #d6d6d6;
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

table.AlternateColors td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.IconsButtons tr.t1st td
{
	font-family: Verdana;
	font-size: 8pt;
	text-align: "color:" #ffffff;
	background-color: #808080;
	color: #ffffff;
	font-weight: bold;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons tr.t1Row td
{
	font-family: Verdana;
	font-size: 8pt;
	background-color: #ffffff;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons tr.t2Row td
{
	font-family: Verdana;
	font-size: 8pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}

table.IconsButtons td
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.IconsButtons
{
	width: 800px;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	text-align: Left;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	margin-left: 45px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
}

h1 a:link
{
	color: #ffffff;
}

a:link
{
	color: #C00000;
}

h1 a:visited
{
	color: #ffffff;
}

a:visited
{
	color: #C00000;
}

h1 a:hover
{
	color: #A0D068;
}

a:hover
{
	color: #FF6021;
}

li
{
	margin-left: 5px;
	margin-top: 5px;
}

li.mips_list_numbered
{
	margin-left: 5px;
	margin-top: 5px;
}

rh-list.multi
{
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-margin: 20px;
	x-lvl-3-format: "<x>.";
	x-lvl-3-margin: 40px;
	x-lvl-4-format: "<x>";
	x-level-count: 9;
	x-lvl-4-type: disc;
	x-lvl-4-margin: 60px;
}

li.mips_list_bulleted
{
	margin-left: 5px;
	margin-top: 5px;
	list-style: disc;
}

tr.rn_default
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

tr.selected
{
	background-color: #415767 !important;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.deselected
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

tr.critical
{
	background-color: #EF2207;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.highlightcritical
{
	background-color: #DA240C;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.dehighlightcritical
{
	background-color: #EF2207;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.highlight
{
	background-color: #467492;
	font-family: Verdana;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}

tr.dehighlighted
{
	background-color: #ffffff;
	font-family: Verdana;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|dropDownHotSpot.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

MadCap|glossaryTerm.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

h1.Print_TOC
{
	color: #9acd32;
	font-family: 'Calisto MT';
	font-size: 20pt;
	background-color: #ffffff;
	border-bottom-color: #9acd32;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
}

MadCap|tocProxy
{
	border-top-color: #ffffff;
}

h1.Print_Title
{
	border-bottom-color: #ffffff;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	text-indent: 0px;
	background-color: #ffffff;
	color: #8b3978;
	font-family: 'Calisto MT';
	font-weight: bold;
	font-size: 24pt;
	mc-heading-level: 0;
}

div.indented
{
	margin-top: 5px;
	margin-left: 45px;
}

div.text_box_warnings
{
	max-width: 600px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #ff0000;
	border: solid 1px #ff0000;
	background-image: url('../Images/warnings.png');
	background-repeat: no-repeat;
	background-color: #FAEBD7;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_notes
{
	max-width: 600px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #616E14;
	border: solid 1px #BFD62F;
	background-image: url('../Images/notes.png');
	background-repeat: no-repeat;
	background-color: #F6FAE1;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_tips
{
	max-width: 600px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #C29D0A;
	border: solid 1px #FBBB1E;
	background-image: url('../Images/tips.png');
	background-repeat: no-repeat;
	background-color: #FAF6D8;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.text_box_examples
{
	max-width: 600px;
	min-height: 50px;
	height: auto !important;
	height: 50px;
	margin-top: 10px;
	color: #003366;
	border: solid 1px #BECFDC;
	background-image: url('../Images/examples.png');
	background-repeat: no-repeat;
	background-color: #DDEDFE;
	padding-left: 55px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.box_grey
{
	max-width: 600px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	margin-top: 10px;
	color: #5E5E5E;
	border: solid 1px #858585;
	background-color: #F0F0F0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.slidecontent
{
	position: relative;
	min-height: 175px;
	margin-left: 75px;
}

div.slideicon
{
	position: absolute;
	left: 10px;
	top: 10px;
}

div.slidescreenshot
{
	position: absolute;
	right: 100px;
	top: 10px;
}

p.slidetitle
{
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

div.upperrightcorner
{
	position: absolute;
	right: 10px;
	top: 10px;
}

MadCap|dropDown
{
	margin-top: 8px;
	mc-closed-image: url('../Images/plus.png');
	mc-open-image: url('../Images/minus.png');
}

MadCap|dropDownHead.withheader
{
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-indent: 5;
	border-width: 0px;
	background-color: #bdbdff;
	padding: 5px;
	margin-top: 15px;
}

td p
{
	margin-top: 0;
}

MadCap|breadcrumbsProxy
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	color: #1f1f50;
	mc-breadcrumbs-count: 8;
	data-mc-breadcrumbs-count: 8;
	border-bottom-width: 0px;
	padding-bottom: 0px;
}

.MCBreadcrumbsBox_0.breadcrumbs,
div.nocontent,
div.MCBreadcrumbsBox_0
{
	data-mc-breadcrumbs-count: 8;
	mc-breadcrumbs-count: 8;
}

MadCap|dropDownHotspot:hover
{
	color: #1f1f4f;
}

MadCap|dropDownHotspot:link
{
	color: #ffffff;
}

MadCap|dropDownHotspot:visited
{
	color: #ffffff;
}

MadCap|slideshow
{
   border-style: none;
   box-shadow: none;
}

@media print, PDFOutput
{
	img.LargeImage
	{
		mc-thumbnail: none;
	}

	div.text_box_warnings
	{
		width: 380pt;
		color: #000000;
		border: solid 1px #000000;
		padding-left: 10px;
		background-image: none;
		height: auto;
	}

	div.text_box_notes
	{
		width: 380pt;
		color: #000000;
		border: solid 1px #000000;
		padding-left: 10px;
		background-image: none;
		height: auto;
	}

	div.text_box_tips
	{
		width: 380pt;
		color: #000000;
		border: solid 1px #000000;
		padding-left: 10px;
		background-image: none;
		height: auto;
	}

	div.text_box_examples
	{
		width: 380pt;
		color: #000000;
		border: solid 1px #000000;
		padding-left: 10px;
		background-image: none;
		height: auto;
	}

	div.box_grey
	{
		width: 380pt;
		color: #000000;
		border: solid 1px #000000;
		padding-left: 10px;
		height: auto;
	}

	span.MCExpandingBody
	{
		display: inline !important;
	}

	div.MCDropDownBody
	{
		display: block !important;
	}
}

@media PDFOutput
{
	h4
	{
		mc-heading-level: 0;
		color: #000000;
		border-bottom: none 0;
		font-size: 12pt;
	}

	h1.Print_TOC
	{
		mc-heading-level: 0;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		border-bottom-color: #00425c;
	}

	MadCap|tocProxy
	{
		margin-top: 20px;
		padding-top: 10px;
	}

	h3
	{
		mc-heading-level: 3;
		background-color: #ffffff;
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		border-top-color: #ffffff;
		font-weight: bold;
		padding-left: 0px;
		text-indent: 0px;
		color: #0e4167;
		border-bottom-style: dotted;
		border-bottom-color: #0e4167;
		padding-top: 1px;
		padding-bottom: 0px;
		margin-bottom: 15pt;
		margin-top: 20pt;
		font-family: Verdana;
		font-size: 12pt;
	}

	h5
	{
		mc-heading-level: 0;
		font-family: Verdana;
		font-size: 10pt;
		color: #696969;
	}

	h6
	{
		mc-heading-level: 0;
	}

	p.TOC1
	{
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		font-size: 14pt;
	}

	p.TOC2
	{
		color: #5598cc;
		font-family: 'TradeGothic LT Extended';
		font-size: 12pt;
	}

	h1 + h2
	{
		page-break-before: auto;
	}

	h1
	{
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		background-color: #ffffff;
		text-indent: 0px;
		padding-left: 0px;
		background-image: none;
		height: 0px;
		border: solid 1px #808080;
		border-left-width: 0px;
		border-right-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 1px;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		border-bottom-color: #00425c;
		display: block;
		font-size: 26pt;
	}

	h2
	{
		background-color: #ffffff;
		border-left-color: #ffffff;
		border-right-color: #ffffff;
		border-top-color: #ffffff;
		border-bottom-color: #ffffff;
		padding-left: 0px;
		text-indent: 0px;
		color: #5598cc;
		font-family: 'TradeGothic LT Extended';
		font-size: 20pt;
		page-break-before: always;
		margin-bottom: 0pt;
	}

	h1.Print_Title
	{
		border-bottom-color: #ffffff;
		color: #00425c;
		font-family: 'TradeGothic LT Extended';
		font-size: 30pt;
	}

	body
	{
		font-family: Verdana;
	}

	img
	{
		max-width: 100%;
	}

	p.TOC3
	{
		font-family: verdana;
		font-size: 9pt;
	}

	table
	{
		font-family: Verdana;
	}
}

MadCap|xref
{
	mc-format: 'Please check the chapter {paratext}';
}


/*<release notes index and reference index />*/

input.filter_small
{
	font-family: Verdana;
	color: #000000;
	font-size: 7pt;
}

table.example
{
	border: 1px solid black;
	border-collapse: collapse;
}

table.example th
{
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}

table.example td
{
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}

table.example thead th
{
	background-color: #ccccff;
}

table.example tfoot td
{
	background-color: #ffccff;
}

table.example tr.tbody_header
{
	font-weight: bold;
	text-align: center;
	background-color: #dddddd;
}

table.example a.pagelink
{
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #666666;
	margin: 0px 5px 0px 5px;
}

table.example a.currentpage
{
	background-color: yellow;
}

tr.alternate
{
	background-color: #D5E4EB;
	cursor: hand;
}

th.table-sortable
{
	cursor: pointer;
	background-image: url('sortable_samplenet.gif');
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 15px;
	padding-left: 2px;
	background-color: #467492;
	font-family: Verdana;
	color: #becfdc;
	font-size: 8pt;
}

th.blueheader
{
	padding-right: 15px;
	padding-left: 5px;
	background-color: #467492;
	font-family: Verdana;
	color: #becfdc;
	font-size: 8pt;
}

th.table-sorted-asc
{
	background-image: url('sorted_up_samplenet.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

th.table-sorted-desc
{
	background-image: url('sorted_down_samplenet.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

th.table-filtered
{
	background-image: url('filter_samplenet.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

select.table-autofilter
{
	font-size: smaller;
}

table.altstripe tr.alternate2
{
	background-color: #ccffff;
}

.iconset
{
	margin: 5px;
	border: 1px solid #cccccc;
	border-color: #cccccc #666666 #666666 #cccccc;
	text-align: center;
	cursor: pointer;
	width: 100px;
}

.iconset img
{
	margin: 3px;
}

tr.doc_section
{
	font-weight: bold;
	text-align: center;
	background-color: #dddddd;
}
